Flask==2.3.2
gunicorn
# Azure Managed Identity
azure-identity==1.12.0
# Azure App Configuration
azure-appconfiguration-provider==1.1.0b2
# App Insights
opencensus
opencensus-ext-flask
opencensus-ext-azure

